<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav style="display: flex; justify-content: space-between;">
        <div class="about">
            
                <a href=""><li>About</li></a>
                <a href=""><li>Project</li></a>
                <a href=""><li>Contact</li></a>
        
        </div>
        <div class="carts" >
            <a href=""><li>Info</li></a>
            <a href=""><li>Cart</li></a>
        </div>
    </nav>
    <main>
        <div class="more_in">
            <div id="myImage"><img src="../images/passport.jpg" alt=""></div>
            <div class="my_in"><p>Hi am Godswill a Web Developer</p></div>
        </div>
    </main>
    <!-- Projects -->
    <div class="projects section" id="projects">
        <h2 class="section__title">Projects</h2>
            <span class="section__subtitle">
                Most recent works
            </span> 

            <div class="container section__border">
                <div class="projects__container swiper">
                    <div class="swiper-wrapper">
                        <!-- Pro1 -->
                        <div class="projects__content swiper-slide">
                            <img src="../images/dev1.jpg" alt="projects image" class="projects__img">
                            <div>
                                <span class="projects__subtitle">Web</span>
                                <h1 class="projects__title">Modern Website</h1>

                                <a href="" class="projects__button">
                                    View Demo <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        
                        </div>

                        <!-- Pro2 -->
                        <div class="projects__content swiper-slide">
                            <img src="../images/log.jpg" alt="projects image" class="projects__img">
                            <div>
                                <span class="projects__subtitle">Web</span>
                                <h1 class="projects__title">ECommerce Site</h1>

                                <a href="" class="projects__button">
                                    View Demo <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        
                        </div>

                        <!-- Pro3 -->
                        <div class="projects__content swiper-slide">
                            <img src="../images/dev1.jpg" alt="projects image" class="projects__img">
                            <div>
                                <span class="projects__subtitle">Web</span>
                                <h1 class="projects__title">Todo-List</h1>

                                 <a href="" class="projects__button">
                                    View Demo <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        
                        </div>

                        <!-- Pro4 -->
                        <div class="projects__content swiper-slide">
                            <img src="../images/log.jpg" alt="projects image" class="projects__img">
                            <div>
                                <span class="projects__subtitle">Web</span>
                                <h1 class="projects__title">Expense App</h1>

                                <a href="https://godswilloj.github.io/expenseapp-frontend-/" class="projects__button">
                                    View Demo <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        
                        </div>
                        

                    </div>

                        <!-- Swiper arrows -->
                <div class="swiper-button-next">
                    <i class="ri-arrow-right-s-line"></i>
                </div>

                <div class="swiper-button-prev">
                    <i class="ri-arrow-left-s-line"></i>
                </div>
                
                <!-- Ssiper pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <section class="testimonial section">
        <h2 class="section__title">Testimonial</h2>
        <span class="section__subtitle">Client Recommendations</span>
        <div class="container section__border">
            <div class="testimonial__container swiper">
               <div class="swiper-wrapper">
                    <!-- Testimonies 1-->
                    <div class="testimonial__content swiper-slide">
                    <p class="testimonial__description">
                        "Working with God'swill has been of good impression, I had my projects at good cost, excellent attention and quality. An awesome service I would recommend."
                    </p>

                    <div>
                        <h3 class="testimonial__name">Oluwatayo Babs</h3>
                        <span class="testimonial__subtitle">Client</span>
                    </div>
                    </div>
                
                     <!-- Testimonies 2-->
                   <div class="testimonial__content swiper-slide">
                    <p class="testimonial__description">
                        "Good experience when I worked with God'swill. Pays attention to details and offers quality services. Recommended"
                    </p>

                    <div> 
                        <h3 class="testimonial__name">Patrick Efajemu</h3>
                        <span class="testimonial__subtitle">Client</span>
                    </div>
                   </div>
                
                    <!-- Testimonies 3-->
                   <div class="testimonial__content swiper-slide">
                    <p class="testimonial__description">
                        "Without any doubt I would recommend God'swill.
                        100% attention and service rendered."
                    </p>

                    <div>
                        <h3 class="testimonial__name">John Nathaniel Chris</h3>
                        <span class="testimonial__subtitle">Client</span>
                    </div>
                   </div>
                </div>

                <!-- swipper arrow -->
                <div class="swiper-button-next">
                    <i class="ri-arrow-right-s-line"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="ri-arrow-left-s-line"></i>
                </div>
            </div>
        </div>
      
        <img src="Frontend/images/hawaii.jpg " alt="testimonial image" class="testimonial__img">
    </section>

    <!-- Swiper JS via CDN -->

  <script src="../js/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js"></script>
    
  <script src="../js/scripts.js"></script>
</body>
</html>