<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav style="display: flex; justify-content: space-between;">
        <div class="about">
            
                <a href=""><li>About</li></a>
                <a href=""><li>Project</li></a>
                <a href=""><li>Contact</li></a>
        
        </div>
        <div class="carts" >
            <a href=""><li>Info</li></a>
            <a href=""><li>Cart</li></a>
        </div>
    </nav>
    <main>
        <div class="more_in">
            <div id="myImage"><img src="../images/passport.jpg" alt=""></div>
            <div class="my_in"><p>Hi am Godswill a Web Developer</p></div>
        </div>
    </main>
    <!-- Projects -->
    <div class="projects section" id="projects">
        <h2 class="section__title">Projects</h2>
            <span class="section__subtitle">
                Most recent works
            </span> 

            <div class="container section__border">
                <div class="projects__container swiper">
                    <div class="swiper-wrapper">
                        <!-- Pro1 -->
                        <div class="projects__content swiper-slide">
                            <img src="../images/dev1.jpg" alt="projects image" class="projects__img">
                            <div>
                                <span class="projects__subtitle">Web</span>
                                <h1 class="projects__title">Modern Website</h1>

                                <a href="" class="projects__button">
                                    View Demo <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        
                        </div>

                        <!-- Pro2 -->
                        <div class="projects__content swiper-slide">
                            <img src="../images/log.jpg" alt="projects image" class="projects__img">
                            <div>
                                <span class="projects__subtitle">Web</span>
                                <h1 class="projects__title">ECommerce Site</h1>

                                <a href="" class="projects__button">
                                    View Demo <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        
                        </div>

                        <!-- Pro3 -->
                        <div class="projects__content swiper-slide">
                            <img src="../images/dev1.jpg" alt="projects image" class="projects__img">
                            <div>
                                <span class="projects__subtitle">Web</span>
                                <h1 class="projects__title">Todo-List</h1>

                                 <a href="" class="projects__button">
                                    View Demo <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        
                        </div>

                        <!-- Pro4 -->
                        <div class="projects__content swiper-slide">
                            <img src="../images/log.jpg" alt="projects image" class="projects__img">
                            <div>
                                <span class="projects__subtitle">Web</span>
                                <h1 class="projects__title">Expense App</h1>

                                <a href="https://godswilloj.github.io/expenseapp-frontend-/" class="projects__button">
                                    View Demo <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        
                        </div>
                        

                    </div>

                        <!-- Swiper arrows -->
                <div class="swiper-button-next">
                    <i class="ri-arrow-right-s-line"></i>
                </div>

                <div class="swiper-button-prev">
                    <i class="ri-arrow-left-s-line"></i>
                </div>
                
                <!-- Ssiper pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <!-- Swiper JS via CDN -->

  <script src="../js/cdn.jsdelivr.net_npm_swiper@10.1.0_swiper-bundle.min.js"></script>
    
  <script src="../js/scripts.js"></script>
</body>
</html>